.doctor-img-name-style {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.doctor-name-style {
    font-size: 20px;
    font-weight: bold;
}

.doctor-details-style {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 8px 13px;
    border-bottom: #e5e5e5 1px solid;
    margin-bottom: 25px;
    background: #fbfbfb;
}

.doctor-details-lable-style {
    width: 250px;
    font-size: 15px;
    font-weight: bold;
    color: #898787;
}

.clinic_staff_heading_style {
    margin-top: 10px;
    font-size: 19px;
}

.clinic-staff-name-style {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.clinicsheading_title {
    background: #2087c3;
    color: #fff;
    border-radius: 4px;
    font-size: 21px;
}

.clinicsheading_logo {
    margin: 24px 17px;
    padding: 0px 0px;
    width: 120px;
    height: 120px;
    border: #f1f1f1 1px solid;
    position: relative;
    border-radius: 6px;
}

.clinicsheading_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dataTables_filter {
    float: right;
}

.pagination {
    justify-content: end;
}

.dataTables_length .custom-select {
    appearance: none !important;
}

.custom-select {
    width: 36%;
}

.slot_statsb_single {
    background: #bfeef8;
    border-radius: 10px;
    box-shadow: rgba(219, 216, 216, 0.18) -1px 1px 5px 1px;
    position: relative;
    overflow: hidden;
    transition: all ease-in 0.3s;
    margin-bottom: 16px;
    box-shadow: 5px 4px 6px 2px #c3bfbf;
    width: 103px;
}

.slot_text-dsgn {
    font-size: 15px;
    font-weight: 600;
    color: #324a50;
}

.slot_statsb_single:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.2);
}

.statsb_single input[type="radio"]:checked+label {
    background-color: #04b8e0;
    color: #fff;
    width: -webkit-fill-available;
    margin: 0;
    min-height: 117px;
}

.statsb_single input[type="radio"] {
    display: none;
}

/* .slot_statsb_single input[type="radio"] {
    display: none;
} */
.slot_statsb_single input[type="radio"] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}
.slot_statsb_single input[type="radio"]:checked +  label {
    background-color: #5265ad;
    color: #fff;
    width: inherit;
    margin: 0;
}
.slot_text-dsgn {
    font-size: 13px;
    font-weight: 600;
    color: #324a50;
    padding-left: 5px;
    padding: 15px;
    width: -webkit-fill-available;
}
.div-type-radio-style {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

/* //////////////////////////////////// */
.type-radio-style input[type="radio"]:checked+label {
    background-color: #4156a5;
    color: #fff;
    width: -webkit-fill-available;
    margin: 0;
    padding: 8px 0px;
    /* min-height: 45px; */
}
/* .type-radio-style input[type="radio"] {
    display: none;
} */
.slot-type-input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}
.type-radio-style {
    position: relative;

}
.type-radio-style {
    background: #3ac5e6;
    border-radius: 8px;
    box-shadow: rgba(219, 216, 216, 0.18) -1px 1px 5px 1px;
    overflow: hidden;
    transition: all ease-in 0.8s;
    margin-bottom: 25px;
    min-height: 45px;
    text-align: -webkit-center;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}


.company_profiles .table td.brk_line p {
    height: 70px;
    overflow-y: scroll;
}
.brk_line p {
    line-break: anywhere;
}
.brk_line {
    /* table-layout: fixed; */
    -webkit-transform-origin-y: top;
    max-width: 160px;
    top: auto;
    /* white-space: break-spaces; */
    -webkit-transform-origin-y: top;
}

.break-time-dsgn.break_flex {
    display: flex;
    align-items: center;
    gap: 10px;
}
